<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.your.app.package.name" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>InAppPurchases</name>
  <description>
      A Sample app to demonstrate in app purchases using the cordova-plugin-inapppurchase plugin
    </description>
  <author href="https://github.com/AlexDisler/cordova-plugin-inapppurchase">
    cordova-plugin-inapppurchase
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
